.user {
    border-radius: 50px;
    overflow: hidden;
} 
.user__img {
    width: 100%;
    object-fit: cover;
}
.user--small {
    height: 37px;
    width: 37px;
}
.user--medium {
    height: 3.7rem;
    width: 3.7rem;
}
.user--big {
    height: 6rem;
    width: 6rem;
}
@media (min-width: 1020px) {
    .user--big {
        width: 9.9rem;
        height: 9.9rem;
    }
    .user {
        border-radius: 100px;
    }
}
@media (max-width: 1200px) {
    .user--medium {
        height: 37px;
        width: 37px;
    }
}
