<div class="achievements">
    <img class="achievements__icon" src="/icons/{{ achievementsIcon }}" alt="{{ achievementsIcon }}">
    <p class="achievements__title">{{ achievementsName }}</p>
    <div class="achievements__collection">
        <img class="achievements__arrow" src="/icons/chevron-left-solid.svg" alt="chevron-left-solid.svg">
        <ul class="achievements__list">
            <li class="achievements__card">
                <div class="achievements__image"></div>
            </li>
            <li class="achievements__card">
                <div class="achievements__image"></div>
            </li>
            <li class="achievements__card">
                <div class="achievements__image"></div>
            </li>
            <li class="achievements__card">
                <div class="achievements__image"></div>
            </li>
            <li class="achievements__card">
                <div class="achievements__image"></div>
            </li>
        </ul>
        <img class="achievements__arrow" src="/icons/chevron-right-solid.svg" alt="chevron-right-solid.svg">
    </div>
</div>