<li class="card">
    <div class="card__right">
        <img class="img img--card" src="/images/{{ p.data.image }}" alt="felix-mittermeier-nAjil1z3eLk-unsplash.jpg">
    </div>
    <div class="card__left">
        <h2 class="card__title">{{ p.data.title }}</h2>
        <p class="card__description">{{ p.data.description }}</p>
        <a href="{{ p.url }}" class="btn">{{ label }}</a>
    </div>
</li>