<li class="card-small">
    <div class="card-small__top">
        <img class="img img--card-small" src="/images/{{ p.data.image }}"
            alt="hassan-pasha-7SjEuEF06Zw-unsplash.jpg">
    </div>
    <div class="card-small__bottom">
        <h2 class="card-small__title">{{ p.data.title }}</h2>
        <a href="{{ p.url }}" class="card-small__btn"><img src="/icons/arrow-right-solid.svg" alt=""></a>
    </div>
</li>