<section class="section">
    <div class="card-user">
        <div class="user  user--big">
            <img class="user__img" src="/images/{{ userImage }}" alt="{{ userImage }}">
        </div>
        <div class="card-user__info">
            <p class="card-user__name">{{ userName }}</p>
            <p class="card-user__level">Level {{ level }}</p>
        </div>
    </div>
</section>