<div class="card-user card-user--small">
    <div class="user  user--medium">
        <img class="user__img" src="/images/{{ userImage }}" alt="{{ userImage }}">
    </div>
    <div class="card-user__info card-user__info--small">
        <p class="card-user__name card-user__name--small">{{ userName }}</p>
        <p class="card-user__level card-user__level--small">Level {{ level }}</p>
    </div>
</div>