<div>
    <a href="{{ return }}" class="return">
        <img class="return__img" src="/icons/arrow-left-solid.svg" alt="arrow-left-solid.svg">
        <p class="return__text">Go Back</p>
    </a>
</div>