{% extends "layouts/default.njk" %}

{% block main %}
<section class="section">
    {% include "components/return.njk" %}
</section>
    <section class="section">
        <ul class="posts">
            {% block posts %}
                
            {% endblock %}
        </ul>
    </section>
{% endblock %}