.game {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.game__left, .game__right {
    width: 25%;
}
.game__title { 
    font-size: 2rem;
    font-family: $display;
    padding: 1rem 2rem;
    border: solid $color-01 2px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 2.7rem;
    text-align: center;
}
.game__subtitle {
    font-size: 1.6rem;
    font-family: $body;
    font-weight: bold;
    margin-bottom: 1rem;
}
.game__goal {
    font-size: 1.2rem;
    line-height: 1.5;
}
.board {
    width: 50%;
}
.board__img {
    width: 100%;
}
.game__right {
    align-self: flex-end;
    padding-bottom: 1.4rem;
}
.player {
    margin-bottom: 1rem;
    display: none;
}
.player-top {
    display: block;
}

@media (max-width: 1020px) {
    .game {
        flex-direction: column;
        gap: 1.2rem;
    }
    .game__left, .game__right, .board {
        width: 100%;
    }
    .game__title {
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
    }
    .game__subtitle  {
        font-size: 1.25rem;
        margin-bottom: 0.8rem;
    }
    .game__goal {
        font-size: 1rem;
    }
    .player-top {
        display: none;
    }
    .player {
        display: block;
    }
}