@font-face {
    font-family: 'Apparat';
    src: url('/fonts/subset-Apparat-Regular.woff2') format('woff2'),
        url('/fonts/subset-Apparat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apparat';
    src: url('/fonts/subset-Apparat-Bold.woff2') format('woff2'),
        url('/fonts/subset-Apparat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/subset-Futura-Bold.woff2') format('woff2'),
        url('fonts/subset-Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

