$color-01: #fd5c00;
$color-01-darker: #E85400;
$color-02: #00093b;
$color-02-lighter:#0b1444; 
$color-02-darker: #010838;
$color-03: #88cdd9;
$color-04: #FFFFFF;
$color-04-darker: #E5E5E5;

$body: Apparat, sans-serif, arial;
$display: Futura, sans-serif, arial;