<footer class="footer">
    <div class="footer__box">
        <a href="/" class="footer__logo">
            <img class="logo logo--footer" src="/icons/logo.svg" alt="">
        </a>
        <div class="footer__info">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__link footer__link--info" href="/">About Us</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link footer__link--info" href="/">Contact</a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link footer__link--info" href="/">Terms & Conditions</a>
                </li>
            </ul>
        </div>
        <div class="footer__media">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__link footer__link--media" href="/"><img class="footer__icon" src="/icons/facebook-square-brands.svg" alt=""><p class="footer__media-name">Facebook</p></a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link footer__link--media" href="/"><img class="footer__icon" src="/icons/twitter-square-brands.svg" alt=""><p class="footer__media-name">Twitter</p></a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__link footer__link--media" href="/"><img class="footer__icon" src="/icons/instagram-square-brands.svg" alt=""><p class="footer__media-name">Instagram</p></a>
                </li>
            </ul>
        </div>
        <div class="footer__subscription">
            <form action="" class="subscription">
                <label class="subscription__lable" for="">Subscribe to our newsletter</label>
                <div class="subscription__input-box">
                    <input class="subscription__input" type="text">
                    <button class="subscription__btn">Ok</button>
                </div>
            </form>
        </div>
    </div>
</footer> 