<header class="header"> 
    <div class="navbar">
        <img class="navbar__icon" src="/icons/bars-solid.svg" alt="">
        <a href="/" class="navbar__logo">
            <img class="logo logo--header" src="/icons/logo.svg" alt="">
        </a>
        <div class="navbar__right">
            <div class="navbar__pages">
                <ul class="navbar__list">
                    <li class="navbar__page">
                        <a class="navbar__link navbar__link--learn" href="/learn">Learn</a>
                    </li>
                    <li class="navbar__page">
                        <a class="navbar__link navbar__link--play" href="/play">Play</a>
                    </li>
                    <li class="navbar__page">
                        <a class="navbar__link navbar__link--community" href="/community">Community</a>
                    </li>
                </ul>
            </div>
            <div class="user user--small">
                <a href="/user">
                    <img class="user__img" src="/images/user.jpg" alt="2018-05-19 14/49/31.511.jpeg">
                </a>
            </div>
        </div>
    </div>
    <div class="navbar-pop hide">
        <nav>
            <ul class="navbar-pop__list">
                <li><a class="navbar-pop__page" href="/learn">Learn</a></li>
                <li><a class="navbar-pop__page" href="/play">Play</a></li>
                <li><a class="navbar-pop__page" href="/community">Community</a></li>
            </ul>
        </nav>
        <img class="navbar-pop__close" src="/icons/xmark-solid.svg" alt="xmark-solid">
    </div>
</header>